**/rebel-remote.xml
*.orig
*.class
target/
dist/
.classpath
.project
.settings/
.metadata/*
*~
.idea
*.iml
bin/
vsms_ddl.sql
maven-eclipse.xml
.externalToolBuilders/
notcommit/
**/rebel.xml
**/symmetric.log
**.swp
.DS_Store
